<%- include("partials/header") -%>

<h1 id="heading" class="content">Welcome to ToDo app</h1>
 <div class="helpContnt">
  <p><%=helpContent%></p>
 </div>



<%- include("partials/footer") -%>
<!-- <script>

var value = prompt("please enter an integer value");
alert(value);

</script> -->
